.header {
  width: 650px;
  margin: 0 auto;
  color: #6BD3D8;
  background-color: #2F3E4E;
}

.page {
  width: 650px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  background-color: #f2f2f2;
}

.bloc
{
  width: 450px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 5px #2F3E4E;
}

.ligne
{
  display: flex;
  justify-content: space-between;
  margin: 3px 50px;
}

#actor{
  margin: 20px auto;
}

#compute {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #6BD3D8;
  margin: 0;
}

body {
  font-family:"calibri";
}

button {
  margin: 0 auto;
  background-color: #6BD3D8;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 15px;
  box-shadow: 1px 1px 2px #2F3E4E;
}

button:hover {
  background-color: #77eff4;
  color: white;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    text-align: center;
}

th {
  background-color: #696969;
    color: #fff;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-left: 100px
}
